################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
*.sqlite
*.suo
.vs/ProgrammeringC/v17/.suo
.vs/slnx.sqlite
