
C++/QuadraticEquation/.vs/QuadraticEquation/v17/Preview/Browse.VC.opendb
C++/QuadraticEquation/.vs/QuadraticEquation/v17/Preview/Browse.VC.db-shm
C++/QuadraticEquation/.vs/QuadraticEquation/v17/Preview/Browse.VC.db-wal
